#playGame {
    display: none;
}

#canvas {
    width: 100%;
}

svg text {
    font-family: iconfont;
    font-size: 60px;
}
svg text.mid {
    text-anchor: middle;
}
svg rect,svg text{
    cursor: pointer;
}

#btnAgain {
    display: none;
    margin: 10px;
}

.alert.alert-success,
.alert.alert-danger {
    display: none;
}

.cell{
    padding:5px;

}

.flipper{
    /* padding: 10px;   */
     /* margin: 10px;  */
}
.flipper img{
    width:100%;
    /* margin: 10px auto; */
}

.flipper .front>div, .flipper .back div{
    position: absolute;
    top:50%;
    left: 0;
    text-align: center;
    color:yellow;
    padding-top:10px;
    font-size: 22px;
    width: 100%;
}


g.open{
	animation-timing-function: cubic-bezier(.73,1.46,.95,.85);	
	transform-origin:55% 50%;
	-moz-transform-origin:55% 50%;
	animation: flip_left 1.6s infinite forwards;
}
#right_arrow{
	transform-origin:43% 50%;
	-moz-transform-origin:43% 50%;
	animation: flip_right 1.8s infinite forwards;
	animation-delay: 0.3s;
}

@keyframes flip_left {
  0% {transform: perspective(2000px) rotateY(90deg) skewY(-1deg)}
  30% {transform:perspective(2000px) rotateY(-25deg) skewY(-0.8deg)}
  50% {transform:perspective(2000px) rotateY(20deg) skewY(0.8deg)}
  70% {transform:perspective(2000px) rotateY(-10deg) skewY(-0.8deg)}
  100% {transform:perspective(2000px) rotateY(0deg)}
}

@keyframes flip_right {
  0% {transform: perspective(2000px) rotateY(90deg) skewY(-3.5deg)}
  30% {transform:perspective(2000px) rotateY(-25deg) skewY(-0.8deg)}
  50% {transform:perspective(2000px) rotateY(20deg) skewY(0.8deg)}
  70% {transform:perspective(2000px) rotateY(-10deg) skewY(-0.8deg)}
  100% {transform:perspective(2000px) rotateY(0deg)}
}

/* #overlay { 
   background-color: grey;
   opacity: 0.5;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
} */

.infobox-container {
    text-align: center;
    font-size: 0;
}

.infobox {
    display: inline-block;
    width: 200px;
    height: 66px;
    color: #555;
    background-color: #FFF;
    box-shadow: none;
    border-radius: 0;
    margin: -1px 0 0 -1px;
    padding: 8px 3px 6px 9px;
    border: 1px dotted;
    border-color: #D8D8D8 !important;
    vertical-align: middle;
    text-align: left;
    position: relative;
}

.infobox>.infobox-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px;
}

.infobox>.infobox-icon>.ace-icon {
    display: inline-block;
    height: 42px;
    margin: 0;
    padding: 1px 1px 0 2px;
    background-color: transparent;
    border-width: 0;
    text-align: center;
    position: relative;
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.infobox>.infobox-icon>.ace-icon:before {
    font-size: 24px;
    display: block;
    padding: 6px 0 7px;
    width: 40px;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.infobox .infobox-content {
    color: #555;
    max-width: 140px;
}

.infobox .infobox-content:first-child {
    font-weight: bold;
}

.infobox>.infobox-data {
    display: inline-block;
    border-width: 0;
    border-top-width: 0;
    font-size: 13px;
    text-align: left;
    line-height: 21px;
    min-width: 130px;
    padding-left: 8px;
    position: relative;
    top: 0;
}

.infobox>.infobox-data>.infobox-data-number {
    display: block;
    font-size: 22px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.infobox>.infobox-data>.infobox-text {
    display: block;
    font-size: 16px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: none;
}

.infobox.no-border {
    border-width: 0 !important;
}

@media only screen and (max-width: 479px) {
    .infobox {
        min-width: 90%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.infobox-purple {
    color: #6F3CC4;
    border-color: #6F3CC4;
}

.infobox-purple>.infobox-icon>.ace-icon {
    background-color: #6F3CC4;
}

.infobox-purple.infobox-dark {
    background-color: #6F3CC4;
    border-color: #6F3CC4;
}

.infobox-purple2 {
    color: #5F47B0;
    border-color: #5F47B0;
}

.infobox-purple2>.infobox-icon>.ace-icon {
    background-color: #5F47B0;
}

.infobox-purple2.infobox-dark {
    background-color: #5F47B0;
    border-color: #5F47B0;
}

.infobox-pink {
    color: #CB6FD7;
    border-color: #CB6FD7;
}

.infobox-pink>.infobox-icon>.ace-icon {
    background-color: #CB6FD7;
}

.infobox-pink.infobox-dark {
    background-color: #CB6FD7;
    border-color: #CB6FD7;
}

.infobox-blue {
    color: #6FB3E0;
    border-color: #6FB3E0;
}

.infobox-blue>.infobox-icon>.ace-icon {
    background-color: #6FB3E0;
}

.infobox-blue.infobox-dark {
    background-color: #6FB3E0;
    border-color: #6FB3E0;
}

.infobox-blue2 {
    color: #3983C2;
    border-color: #3983C2;
}

.infobox-blue2>.infobox-icon>.ace-icon {
    background-color: #3983C2;
}

.infobox-blue2.infobox-dark {
    background-color: #3983C2;
    border-color: #3983C2;
}

.infobox-blue3 {
    color: #1144EB;
    border-color: #1144EB;
}

.infobox-blue3>.infobox-icon>.ace-icon {
    background-color: #1144EB;
}

.infobox-blue3.infobox-dark {
    background-color: #1144EB;
    border-color: #1144EB;
}

.infobox-red {
    color: #D53F40;
    border-color: #D53F40;
}

.infobox-red>.infobox-icon>.ace-icon {
    background-color: #D53F40;
}

.infobox-red.infobox-dark {
    background-color: #D53F40;
    border-color: #D53F40;
}

.infobox-brown {
    color: #C67A3E;
    border-color: #C67A3E;
}

.infobox-brown>.infobox-icon>.ace-icon {
    background-color: #C67A3E;
}

.infobox-brown.infobox-dark {
    background-color: #C67A3E;
    border-color: #C67A3E;
}

.infobox-wood {
    color: #7B3F25;
    border-color: #7B3F25;
}

.infobox-wood>.infobox-icon>.ace-icon {
    background-color: #7B3F25;
}

.infobox-wood.infobox-dark {
    background-color: #7B3F25;
    border-color: #7B3F25;
}

.infobox-light-brown {
    color: #CEBEA5;
    border-color: #CEBEA5;
}

.infobox-light-brown>.infobox-icon>.ace-icon {
    background-color: #CEBEA5;
}

.infobox-light-brown.infobox-dark {
    background-color: #CEBEA5;
    border-color: #CEBEA5;
}

.infobox-orange {
    color: #E8B110;
    border-color: #E8B110;
}

.infobox-orange>.infobox-icon>.ace-icon {
    background-color: #E8B110;
}

.infobox-orange.infobox-dark {
    background-color: #E8B110;
    border-color: #E8B110;
}

.infobox-orange2 {
    color: #F79263;
    border-color: #F79263;
}

.infobox-orange2>.infobox-icon>.ace-icon {
    background-color: #F79263;
}

.infobox-orange2.infobox-dark {
    background-color: #F79263;
    border-color: #F79263;
}

.infobox-green {
    color: #9ABC32;
    border-color: #9ABC32;
}

.infobox-green>.infobox-icon>.ace-icon {
    background-color: #9ABC32;
}

.infobox-green.infobox-dark {
    background-color: #9ABC32;
    border-color: #9ABC32;
}

.infobox-green2 {
    color: #0490A6;
    border-color: #0490A6;
}

.infobox-green2>.infobox-icon>.ace-icon {
    background-color: #0490A6;
}

.infobox-green2.infobox-dark {
    background-color: #0490A6;
    border-color: #0490A6;
}

.infobox-grey {
    color: #999999;
    border-color: #999999;
}

.infobox-grey>.infobox-icon>.ace-icon {
    background-color: #999999;
}

.infobox-grey.infobox-dark {
    background-color: #999999;
    border-color: #999999;
}

.infobox-black {
    color: #393939;
    border-color: #393939;
}

.infobox-black>.infobox-icon>.ace-icon {
    background-color: #393939;
}

.infobox-black.infobox-dark {
    background-color: #393939;
    border-color: #393939;
}

.infobox-dark {
    margin: 1px 1px 0 0;
    border-color: transparent !important;
    border-width: 0;
    color: #FFF;
    padding: 4px;
}

.infobox-dark>.infobox-icon>.ace-icon,
.infobox-dark>.infobox-icon>.ace-icon:before {
    background-color: transparent;
    box-shadow: none !important;
    text-shadow: none;
    border-radius: 0;
    font-size: 30px;
}

.infobox-dark>.infobox-icon>.ace-icon:before {
    opacity: 1;
    filter: alpha(opacity=100);
}

.infobox-dark .infobox-content {
    color: #FFF;
}

.infobox>.infobox-progress {
    padding-top: 0;
    display: inline-block;
    vertical-align: top;
    width: 44px;
}

.infobox>.infobox-chart {
    padding-top: 0;
    display: inline-block;
    vertical-align: text-bottom;
    width: 44px;
    text-align: center;
}

.infobox>.infobox-chart>.sparkline {
    font-size: 24px;
}

.infobox>.infobox-chart canvas {
    vertical-align: middle !important;
}

.infobox>.stat {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 11px;
    text-shadow: none;
    color: #ABBAC3;
    font-size: 13px;
    font-weight: bold;
    padding-right: 18px;
    padding-top: 3px;
}

.infobox>.stat:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 11px;
    background-color: #ABBAC3;
    position: absolute;
    right: 4px;
    top: 7px;
}

.infobox>.stat:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
    border: 12px solid transparent;
    border-width: 8px 7px;
    border-bottom-color: #ABBAC3;
}

.infobox>.stat.stat-success {
    color: #77C646;
}

.infobox>.stat.stat-success:before {
    background-color: #77C646;
}

.infobox>.stat.stat-success:after {
    border-bottom-color: #77C646;
}

.infobox>.stat.stat-important {
    /*pointing down*/
    color: #E4564F;
}

.infobox>.stat.stat-important:before {
    background-color: #E4564F;
    top: 3px;
}

.infobox>.stat.stat-important:after {
    border-top-color: #E4564F;
    border-bottom-color: transparent;
    bottom: -6px;
    top: auto;
}

.infobox.infobox-dark>.stat {
    color: #FFF;
}

.infobox.infobox-dark>.stat:before {
    background-color: #E1E5E8;
}

.infobox.infobox-dark>.stat:after {
    border-bottom-color: #E1E5E8;
}

.infobox.infobox-dark>.stat.stat-success {
    color: #FFF;
}

.infobox.infobox-dark>.stat.stat-success:before {
    background-color: #D0E29E;
}

.infobox.infobox-dark>.stat.stat-success:after {
    border-bottom-color: #D0E29E;
}

.infobox.infobox-dark>.stat.stat-important {
    color: #FFF;
}

.infobox.infobox-dark>.stat.stat-important:before {
    background-color: #FF8482;
    top: 3px;
}

.infobox.infobox-dark>.stat.stat-important:after {
    border-top-color: #FF8482;
    border-bottom-color: transparent;
    bottom: -6px;
    top: auto;
}

.infobox>.badge {
    position: absolute;
    right: 20px;
    top: 11px;
    border-radius: 0;
    text-shadow: none;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    height: 16px;
    padding: 0 1px;
}

.infobox.infobox-dark>.badge {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid #F1F1F1;
    top: 2px;
    right: 2px;
}

.infobox.infobox-dark>.badge.badge-success>.ace-icon {
    color: #C6E9A1;
}

.infobox.infobox-dark>.badge.badge-important>.ace-icon {
    color: #ECB792;
}

.infobox.infobox-dark>.badge.badge-warning>.ace-icon {
    color: #ECB792;
}

.infobox-small {
    width: 135px;
    height: 52px;
    text-align: left;
    padding-bottom: 5px;
}

.infobox-small>.infobox-icon,
.infobox-small>.infobox-chart,
.infobox-small>.infobox-progress {
    display: inline-block;
    width: 40px;
    max-width: 40px;
    height: 42px;
    line-height: 38px;
    vertical-align: middle;
}

.infobox-small>.infobox-data {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 72px;
    min-width: 0;
}

.infobox-small>.infobox-chart>.sparkline {
    font-size: 14px;
    margin-left: 2px;
}